doctype html
html(lang='fr', dir="ltr")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
    meta(charset="utf-8")
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin)
    link(href='//fonts.gstatic.com' rel='dns-prefetch')
    link(href='https://code.jquery.com' rel='preconnect' crossorigin)
    link(href='//code.jquery.com' rel='dns-prefetch')
    link(href='https://maxcdn.bootstrapcdn.com' rel='preconnect' crossorigin)
    link(href='//maxcdn.bootstrapcdn.com' rel='dns-prefetch')
    meta(name="google-site-verification" content="WDcFFZ7Og3sHra_nCIg0qXVOfJr-q9D-ZtpJ99D-zW0")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title #{ title } - SMP
    meta(name="description" content="#{ description }")
    meta(property='og:site_name', content="Société Médico-Psychologique")
    meta(property='og:type', content='website')
    meta(property='og:title', content="#{ title } - SMP")
    meta(property='og:description', content='#{ description }')
    meta(property='og:url', content='https://medicopsy.com#{ path }')
    link(rel="stylesheet" href="../../css/bootstrap.min.css")
    link(rel="stylesheet" href="../../css/template.css")
    link(rel="stylesheet" href="../../css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NGXVJCW');
  body
    noscript
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NGXVJCW', style='display:none;visibility:hidden', width='0', height='0')
    != partial("../../partials/_nav")
    main.container(role='main')
      .row
        .col-md-8.blog-main      
          != yield
          img(src="../../assets/2022/170-years/image-1.jpeg" width="100%")
          img(src="../../assets/2022/170-years/image-2.jpeg" width="100%")
          img(src="../../assets/2022/170-years/image-3.jpeg" width="100%")
          img(src="../../assets/2022/170-years/image-4.jpeg" width="100%")
    != partial("../../partials/_footer")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
