doctype html
html(lang='fr', dir="ltr")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
    meta(charset="utf-8")
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin)
    link(href='//fonts.gstatic.com' rel='dns-prefetch')
    link(href='https://code.jquery.com' rel='preconnect' crossorigin)
    link(href='//code.jquery.com' rel='dns-prefetch')
    link(href='https://maxcdn.bootstrapcdn.com' rel='preconnect' crossorigin)
    link(href='//maxcdn.bootstrapcdn.com' rel='dns-prefetch')
    meta(name="google-site-verification" content="WDcFFZ7Og3sHra_nCIg0qXVOfJr-q9D-ZtpJ99D-zW0")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title #{ title }
    meta(name="description" content="#{ description }")
    meta(property='og:site_name', content="Société Médico-Psychologique")
    meta(property='og:type', content='website')
    meta(property='og:title', content="#{ title }")
    meta(property='og:description', content='#{ description }')
    meta(property='og:url', content='https://medicopsy.com#{ path }')
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/template.css")
    link(rel="stylesheet" href="css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet")
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "MedicalOrganization",
      "name": "Société Médico-Psychologique",
      "alternateName": "SMP",
      "url": "https://medicopsy.com",
      "logo": "https://medicopsy.com/images/smp-logo.jpg"
      }
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NGXVJCW');
  body
    noscript
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NGXVJCW', style='display:none;visibility:hidden', width='0', height='0')
    != partial("/partials/_nav")
    .container
      .jumbotron.p-4.p-md-5.text-white.rounded.bg-dark
        .col-md-10.px-0
          h1.display-4.font-italic Mesdames, Messieurs, Chers collègues,
          p.lead.my-3
            | Dans le contexte de la pandémie COVID-19, dont les conséquences sanitaires mondiales sont majeures, la Société Médico psychologique modifie pour une durée indéterminée son programme de séances mensuelles organisées au Centre Hospitalier Sainte Anne, pour laisser la place à des conférences en ligne. Vous trouverez sur ce site, mis à jour régulièrement des liens et documents utiles.
            p.lead.mb-0
              a.text-white.font-weight-bold(href='/pandemie-covid-19' title="Ressources sur la pandémie COVID-19") Cliquez ici
    .container
      .row.mb-2
        .col-md-6
          .row.no-gutters.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
            .col.p-4.d-flex.flex-column.position-static
              strong.d-inline-block.mb-2.text-success Partenariats
              h3 Nos sites partenaires
              ul.mt-1
                li
                  a(href="http://www.encephale.com/Congres/Congres-de-l-Encephale-2019-17e-edition" target="_blank" rel="noopener" title="Congrès de l'Encéphale") Congrès de l'Encéphale
                li
                  a(href="https://www.congresfrancaispsychiatrie.org/" target="_blank" rel="noopener" title="Congrès Français de Psychiatrie") Congrès Français de Psychiatrie
                li
                  a(href="http://www.asso-aesp.fr/" target="_blank" rel="noopener" title="Association pour l'Enseignement de la Sémiologie Psychiatrique") Association pour l'Enseignement de la Sémiologie Psychiatrique
                li
                  a(href="https://bibliotheques.ghu-paris.fr/" target="_blank" rel="noopener" title="Les bibliothèques du GHU Paris") Les bibliothèques du GHU Paris
            .col-auto.d-none.d-lg-block
              svg.bd-placeholder-img(width='200', height='250', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: Thumbnail')
                title Placeholder
                rect(width='100%', height='100%', fill='#eee')
        .col-md-6
          .row.no-gutters.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.position-relative
            .col.p-4.d-flex.flex-column.position-static
              strong.d-inline-block.mb-2.text-primary Annonces
              h3 Les dernières nouvelles de la SMP
              ul.mt-1
                li
                  a(href="https://philosophiepsychiatrie.com/" target="_blank" rel="noopener" title="Diplôme Inter-Universitaire de Philosophie de la Psychiatrie") Diplôme Inter-Universitaire de Philosophie de la Psychiatrie
                li
                  a(href="/assets/docs/methodes-avancees-revues-systematiques-et-meta-analyses.pdf" target="_blank" title="Méthodes avancées en revues systématiques et méta-analyses") Méthodes avancées en revues systématiques et méta-analyses
                li
                  a(href="/assets/docs/la-depression-trouble-de-lhumeur.pdf" target="_blank" title="La dépression est-elle encore un trouble de l'humeur ?") La dépression est-elle encore un trouble de l'humeur ?
                li
                  a(href="/seances/2021/octobre-2021-journee-hommage-jean-garrabe" title="Colloque en hommage à Jean Garrabé, Académie de Médecine, vendredi 1er octobre 2021") Colloque en hommage à Jean Garrabé, Académie de Médecine, vendredi 1er octobre 2021
    .container
      .row.mb-2
        .col-md-8
          h2.pb-4.mb-4.font-italic.border-bottom Nos séances
          != yield
        aside.col-md-4
          .p-4.mb-3.bg-light.rounded
            h3 À Propos
            p La Société Médico-Psychologique est la plus ancienne des sociétés françaises de psychiatrie et l’une des toutes premières dans le monde. Issue des Annales Médico-Psychologiques, elle fut fondée en 1847 par Jules Gabriel François Baillarger et fonctionne sans interruption depuis 1852.
            p.mb-0
              a(href="/a-propos" title="À propos de la SMP") En savoir plus
    .container
      .video.mt-2.mb-3
        iframe(width='560', height='349', src='https://www.youtube.com/embed/sHiEBEqlfp4?autoplay=0;modestbranding=1;rel=0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    != partial("/partials/_footer")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
