.container
  .jumbotron.p-3.p-md-5.text-white.rounded.bg-dark
    .col-md-6.px-0
      h1.display-4.font-italic Fondée en 1852
      p.lead.my-3
        | La Société Médico-Psychologique est la plus ancienne société française de psychiatrie et l'une des premières dans le monde.
      p.lead.mb-0
        a.text-white.font-weight-bold(href='/a-propos' title="A propos de la SMP") Lire la suite
  h2.blog-post-title.mb-3 A la Une
  .row.mb-2
    .col-md-6
      .card.flex-md-row.mb-4.shadow-sm
        .card-body.d-flex.flex-column.align-items-start
          h3.mb-0 Annonces
          a.mt-2(href="https://www.collegedesbernardins.fr/content/questions-de-medecine-un-autre-regard-sur-lautisme" target="_blank" title="Collège des Bernardins") "Question de médecine" : un autre regard sur l'autisme
          a.mt-2(href="https://fr.xing-events.com/colloque-ethique-psychiatrie-2018.html" target="_blank" title="Colloque Ethique et Psychiatrie") Colloque Ethique et Psychiatrie - Quels lieux d’accueil pour la souffrance psychique aujourd’hui ?
    .col-md-6
      .card.flex-md-row.mb-4.shadow-sm
        .card-body.d-flex.flex-column.align-items-start
          h3.mb-0 Partenariats
          a.mt-2(href="http://www.encephale.com/Congres/Congres-de-l-Encephale-2019-17e-edition" target="_blank" title="Congrès de l'Encéphale" rel="noopener") Congrès de l'Encéphale
          a.mt-2(href="https://www.congresfrancaispsychiatrie.org/" target="_blank" title="Congrès Français de Psychiatrie" rel="noopener") Congrès Français de Psychiatrie
          a.mt-2(href="http://www.asso-aesp.fr/" target="_blank" title="Association pour l'Enseignement de la Sémiologie Psychiatrique" rel="noopener") Association pour l'Enseignement de la Sémiologie Psychiatrique
  h2.blog-post-title.mb-3 Nos séances
  .row.mb-2  
    for seance, slug in public.seances._data
      .col-md-6
        .card.flex-md-row.mb-4.shadow-sm.h-md-250
          .card-body.d-flex.flex-column.align-items-start
            strong.d-inline-block.mb-2.text-success Evénement
            h3.mb-0
              a.text-dark(href="/seances/#{ slug }" title=seance.title)= seance.title
            .mb-1.text-muted= seance.date
            p.card-text.mb-auto= seance.description
            a(href="/seances/#{ slug }" title=seance.title) En savoir plus
