.container
  .jumbotron.p-3.p-md-5.text-white.rounded.bg-dark
    .col-md-6.px-0
      h1.display-4.font-italic Fondée en 1852
      p.lead.my-3
        | La Société Médico-Psychologique est la plus ancienne société française de psychiatrie et l'une des premières dans le monde.
      p.lead.mb-0
        a.text-white.font-weight-bold(href='/a-propos' title="A propos de la SMP") Lire la suite
  h2.blog-post-title.mb-3 A la Une
  .row.mb-4
    .col-md-6
      .card.flex-md-row.mb-4.shadow-sm
        .card-body.d-flex.flex-column.align-items-start
          h3.mb-0 Partenariats
          a.mt-2(href="http://www.encephale.com/Congres/Congres-de-l-Encephale-2019-17e-edition" target="_blank" title="Congrès de l'Encéphale" rel="noopener") Congrès de l'Encéphale
          a.mt-2(href="https://www.congresfrancaispsychiatrie.org/" target="_blank" title="Congrès Français de Psychiatrie" rel="noopener") Congrès Français de Psychiatrie
          a.mt-2(href="http://www.asso-aesp.fr/" target="_blank" title="Association pour l'Enseignement de la Sémiologie Psychiatrique" rel="noopener") Association pour l'Enseignement de la Sémiologie Psychiatrique
    .col-md-6
      .card.flex-md-row.mb-4.shadow-sm
        .card-body.d-flex.flex-column.align-items-start
          h3.mb-0 Annonces
          a.mt-2(href="https://centre-ressource-rehabilitation.org/conferences-de-rehabilitation-programme-2018-2019" target="_blank" title="Réhabilitation psychosociale et remédiation cognitive") Conférences de réhabilitation : Programme 2018-2019
          a.mt-2(href="./assets/docs/convergences-technologiques.pdf" target="_blank") Convergences technologiques, santé mentale et personnes « vulnérables »
.container.bg-light.pl-4.pr-4.pt-2.pb-2.mb-4
    h2.blog-post-title.mb-3 Séances 2019
    .row
      .col-md-6
        ul.list-seances
          li
            a(href="/seances/assemblee-generale-janvier-2019" title="Assemblée Générale janvier 2019") 28 janvier 2019 : Assemblée générale et communications libres
          li 
            a(href="/seances/intestin-cerveau-et-psychisme" title="Séance thématique : Intestin, cerveau et psychisme") 25 février 2019 : Séance thématique : Intestin, cerveau et psychisme. Coordonnée par Jean Pierre Luauté
          li 
            a(href="/seances/mars-2019-communications-libres" title="Communications Libres du 18 mars 2019") 18 mars 2019 : Communications libres
          li 
            a(href="/seances/psychiatrie-legale" title="Séance thématique : Psychiatrie légale (coordonnée par Thierry Pham)") 29 avril 2019 : Séance thématique : Psychiatrie légale. Coordonnée par Thierry Pham
          li 
            span 
              strong 27 mai 2019 : 
              | Communications libres
          li
            span 
              strong 17 juin 2019 : 
              | Séance du président : Pathologie et Art thérapie
      .col-md-6
        ul.list-seances
          li 
            span 
              strong 23 septembre : 
              | Séance thématique : l’Expertise. Coordonnée par Marc Schweitzer
          li 
            span 
              strong 21 octobre 2019 : 
              | Séance d'hommage au Professeur Marc Bourgeois. Coordonnée par Marc Masson
          li 
            span 
              strong 25 novembre 2019 : 
              | Séance thématique : la Pédopsychiatrie
          li 
            span 
              strong 16 décembre 2019 : 
              | Assemblée générale et communications libres
.container
  h2.blog-post-title.mb-3 Séances 2018
  .row.mb-2  
    for seance, slug in public.seances._data
      .col-md-6
        .card.flex-md-row.mb-4.shadow-sm.h-md-250
          .card-body.d-flex.flex-column.align-items-start
            strong.d-inline-block.mb-2.text-success Evénement
            h3.mb-0
              a.text-dark(href="/seances/#{ slug }" title=seance.title)= seance.title
            .mb-1.text-muted= seance.date
            p.card-text.mb-auto= seance.description
            a(href="/seances/#{ slug }" title=seance.title) En savoir plus
